footer.main-footer
    strong
      -var date=new Date().getFullYear()
      | Copyright &copy; #{date}
      a(href='https://adminlte.io') Techfier
      | .
    |         All rights reserved.
    .float-right.d-none.d-sm-inline-block
      b Version
      |  1.0.0