aside.main-sidebar.sidebar-dark-primary.elevation-4(style="position: fixed;top: 0;left: 0;height: 100%;width: 250px; transition: transform 0.3s ease-in-out; overflow-y: auto;")
    // Brand Logo
    a.brand-link(href='index3.html')
      img.brand-image.img-circle.elevation-3(src='/dist/img/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: 0.8')
      span.brand-text.font-weight-light Techfier
    // Sidebar
    .sidebar
      // Sidebar user panel (optional)
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          img.img-circle.elevation-2(src='/dist/img/user2-160x160.jpg' alt='User Image')
        .info
          a.d-block(href='#') User Name
      // SidebarSearch Form
      .form-inline
        .input-group(data-widget='sidebar-search')
          input.form-control.form-control-sidebar(type='search' placeholder='Search' aria-label='Search')
          .input-group-append
            button.btn.btn-sidebar
              i.fas.fa-search.fa-fw
      // Sidebar Menu
      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
          li.nav-header Navigation
          li.nav-item
            a.nav-link(href='/' class= page=="Dashboard" ? "active":"")
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
          li.nav-item
            a.nav-link(href='pages/gallery.html')
              i.nav-icon.fas.fa-rocket
              p Spare parts
          li.nav-item
            a.nav-link(href='pages/kanban.html')
              i.nav-icon.fas.fa-calendar
              p Schedule
          li.nav-item
            a.nav-link(href='#' class= page=="Add Equipment" ? "active":"")
              i.nav-icon.fa.fa-wrench
              p
                | Equipment
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='/equipment/add' class= page=="Add Equipment" ? "active":"")
                  i.fas.fa-plus.nav-icon
                  p Add equipment
              li.nav-item
                a.nav-link(href='pages/mailbox/compose.html')
                  i.far.fa-circle.nav-icon
                  p Manage equipment
              li.nav-item
                a.nav-link(href='pages/mailbox/read-mail.html')
                  i.far.fa-circle.nav-icon
                  p Read
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-book
              p
                | Pages
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/examples/invoice.html')
                  i.far.fa-circle.nav-icon
                  p Invoice
              li.nav-item
                a.nav-link(href='pages/examples/profile.html')
                  i.far.fa-circle.nav-icon
                  p Profile
              li.nav-item
                a.nav-link(href='pages/examples/e-commerce.html')
                  i.far.fa-circle.nav-icon
                  p E-commerce
              li.nav-item
                a.nav-link(href='pages/examples/projects.html')
                  i.far.fa-circle.nav-icon
                  p Projects
              li.nav-item
                a.nav-link(href='pages/examples/project-add.html')
                  i.far.fa-circle.nav-icon
                  p Project Add
              li.nav-item
                a.nav-link(href='pages/examples/project-edit.html')
                  i.far.fa-circle.nav-icon
                  p Project Edit
              li.nav-item
                a.nav-link(href='pages/examples/project-detail.html')
                  i.far.fa-circle.nav-icon
                  p Project Detail
              li.nav-item
                a.nav-link(href='pages/examples/contacts.html')
                  i.far.fa-circle.nav-icon
                  p Contacts
              li.nav-item
                a.nav-link(href='pages/examples/faq.html')
                  i.far.fa-circle.nav-icon
                  p FAQ
              li.nav-item
                a.nav-link(href='pages/examples/contact-us.html')
                  i.far.fa-circle.nav-icon
                  p Contact us
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-plus-square
              p
                | Extras
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Login &amp; Register v1
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/examples/login.html')
                      i.far.fa-circle.nav-icon
                      p Login v1
                  li.nav-item
                    a.nav-link(href='pages/examples/register.html')
                      i.far.fa-circle.nav-icon
                      p Register v1
                  li.nav-item
                    a.nav-link(href='pages/examples/forgot-password.html')
                      i.far.fa-circle.nav-icon
                      p Forgot Password v1
                  li.nav-item
                    a.nav-link(href='pages/examples/recover-password.html')
                      i.far.fa-circle.nav-icon
                      p Recover Password v1
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Login &amp; Register v2
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/examples/login-v2.html')
                      i.far.fa-circle.nav-icon
                      p Login v2
                  li.nav-item
                    a.nav-link(href='pages/examples/register-v2.html')
                      i.far.fa-circle.nav-icon
                      p Register v2
                  li.nav-item
                    a.nav-link(href='pages/examples/forgot-password-v2.html')
                      i.far.fa-circle.nav-icon
                      p Forgot Password v2
                  li.nav-item
                    a.nav-link(href='pages/examples/recover-password-v2.html')
                      i.far.fa-circle.nav-icon
                      p Recover Password v2
              li.nav-item
                a.nav-link(href='pages/examples/lockscreen.html')
                  i.far.fa-circle.nav-icon
                  p Lockscreen
              li.nav-item
                a.nav-link(href='pages/examples/legacy-user-menu.html')
                  i.far.fa-circle.nav-icon
                  p Legacy User Menu
              li.nav-item
                a.nav-link(href='pages/examples/language-menu.html')
                  i.far.fa-circle.nav-icon
                  p Language Menu
              li.nav-item
                a.nav-link(href='pages/examples/404.html')
                  i.far.fa-circle.nav-icon
                  p Error 404
              li.nav-item
                a.nav-link(href='pages/examples/500.html')
                  i.far.fa-circle.nav-icon
                  p Error 500
              li.nav-item
                a.nav-link(href='pages/examples/pace.html')
                  i.far.fa-circle.nav-icon
                  p Pace
              li.nav-item
                a.nav-link(href='pages/examples/blank.html')
                  i.far.fa-circle.nav-icon
                  p Blank Page
              li.nav-item
                a.nav-link(href='starter.html')
                  i.far.fa-circle.nav-icon
                  p Starter Page
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-search
              p
                | Search
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/search/simple.html')
                  i.far.fa-circle.nav-icon
                  p Simple Search
              li.nav-item
                a.nav-link(href='pages/search/enhanced.html')
                  i.far.fa-circle.nav-icon
                  p Enhanced
          li.nav-header MISCELLANEOUS
          li.nav-item
            a.nav-link(href='iframe.html')
              i.nav-icon.fas.fa-ellipsis-h
              p Tabbed IFrame Plugin
          li.nav-item
            a.nav-link(href='https://adminlte.io/docs/3.1/')
              i.nav-icon.fas.fa-file
              p Documentation
          li.nav-header MULTI LEVEL EXAMPLE
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-circle
              p
                | Level 1
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Level 2
                    i.right.fas.fa-angle-left
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-header LABELS
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-danger
              p.text Important
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-warning
              p Warning
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-info
              p Informational