aside.main-sidebar.sidebar-dark-primary.elevation-4(style="position: fixed;top: 0;left: 0;height: 100%;width: 250px; transition: transform 0.3s ease-in-out; overflow-y: auto;")
    // Brand Logo
    a.brand-link(href='index3.html')
      img.brand-image.img-circle.elevation-3(src='dist/img/AdminLTELogo.png' alt='AdminLTE Logo' style='opacity: 0.8')
      span.brand-text.font-weight-light Techfier
    // Sidebar
    .sidebar
      // Sidebar user panel (optional)
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          img.img-circle.elevation-2(src='dist/img/user2-160x160.jpg' alt='User Image')
        .info
          a.d-block(href='#') Alexander Pierce
      // SidebarSearch Form
      .form-inline
        .input-group(data-widget='sidebar-search')
          input.form-control.form-control-sidebar(type='search' placeholder='Search' aria-label='Search')
          .input-group-append
            button.btn.btn-sidebar
              i.fas.fa-search.fa-fw
      // Sidebar Menu
      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
          //
            Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library
          li.nav-item.menu-open
            a.nav-link.active(href='#')
              i.nav-icon.fas.fa-tachometer-alt
              p
                | Dashboard
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link.active(href='./index.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v1
              li.nav-item
                a.nav-link(href='./index2.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v2
              li.nav-item
                a.nav-link(href='./index3.html')
                  i.far.fa-circle.nav-icon
                  p Dashboard v3
          li.nav-item
            a.nav-link(href='pages/widgets.html')
              i.nav-icon.fas.fa-th
              p
                | Widgets
                span.right.badge.badge-danger New
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-copy
              p
                | Layout Options
                i.fas.fa-angle-left.right
                span.badge.badge-info.right 6
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/layout/top-nav.html')
                  i.far.fa-circle.nav-icon
                  p Top Navigation
              li.nav-item
                a.nav-link(href='pages/layout/top-nav-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Top Navigation + Sidebar
              li.nav-item
                a.nav-link(href='pages/layout/boxed.html')
                  i.far.fa-circle.nav-icon
                  p Boxed
              li.nav-item
                a.nav-link(href='pages/layout/fixed-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Sidebar
              li.nav-item
                a.nav-link(href='pages/layout/fixed-sidebar-custom.html')
                  i.far.fa-circle.nav-icon
                  p
                    | Fixed Sidebar 
                    small + Custom Area
              li.nav-item
                a.nav-link(href='pages/layout/fixed-topnav.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Navbar
              li.nav-item
                a.nav-link(href='pages/layout/fixed-footer.html')
                  i.far.fa-circle.nav-icon
                  p Fixed Footer
              li.nav-item
                a.nav-link(href='pages/layout/collapsed-sidebar.html')
                  i.far.fa-circle.nav-icon
                  p Collapsed Sidebar
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-chart-pie
              p
                | Charts
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/charts/chartjs.html')
                  i.far.fa-circle.nav-icon
                  p ChartJS
              li.nav-item
                a.nav-link(href='pages/charts/flot.html')
                  i.far.fa-circle.nav-icon
                  p Flot
              li.nav-item
                a.nav-link(href='pages/charts/inline.html')
                  i.far.fa-circle.nav-icon
                  p Inline
              li.nav-item
                a.nav-link(href='pages/charts/uplot.html')
                  i.far.fa-circle.nav-icon
                  p uPlot
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-tree
              p
                | UI Elements
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/UI/general.html')
                  i.far.fa-circle.nav-icon
                  p General
              li.nav-item
                a.nav-link(href='pages/UI/icons.html')
                  i.far.fa-circle.nav-icon
                  p Icons
              li.nav-item
                a.nav-link(href='pages/UI/buttons.html')
                  i.far.fa-circle.nav-icon
                  p Buttons
              li.nav-item
                a.nav-link(href='pages/UI/sliders.html')
                  i.far.fa-circle.nav-icon
                  p Sliders
              li.nav-item
                a.nav-link(href='pages/UI/modals.html')
                  i.far.fa-circle.nav-icon
                  p Modals &amp; Alerts
              li.nav-item
                a.nav-link(href='pages/UI/navbar.html')
                  i.far.fa-circle.nav-icon
                  p Navbar &amp; Tabs
              li.nav-item
                a.nav-link(href='pages/UI/timeline.html')
                  i.far.fa-circle.nav-icon
                  p Timeline
              li.nav-item
                a.nav-link(href='pages/UI/ribbons.html')
                  i.far.fa-circle.nav-icon
                  p Ribbons
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-edit
              p
                | Forms
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/forms/general.html')
                  i.far.fa-circle.nav-icon
                  p General Elements
              li.nav-item
                a.nav-link(href='pages/forms/advanced.html')
                  i.far.fa-circle.nav-icon
                  p Advanced Elements
              li.nav-item
                a.nav-link(href='pages/forms/editors.html')
                  i.far.fa-circle.nav-icon
                  p Editors
              li.nav-item
                a.nav-link(href='pages/forms/validation.html')
                  i.far.fa-circle.nav-icon
                  p Validation
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-table
              p
                | Tables
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/tables/simple.html')
                  i.far.fa-circle.nav-icon
                  p Simple Tables
              li.nav-item
                a.nav-link(href='pages/tables/data.html')
                  i.far.fa-circle.nav-icon
                  p DataTables
              li.nav-item
                a.nav-link(href='pages/tables/jsgrid.html')
                  i.far.fa-circle.nav-icon
                  p jsGrid
          li.nav-header EXAMPLES
          li.nav-item
            a.nav-link(href='pages/calendar.html')
              i.nav-icon.far.fa-calendar-alt
              p
                | Calendar
                span.badge.badge-info.right 2
          li.nav-item
            a.nav-link(href='pages/gallery.html')
              i.nav-icon.far.fa-image
              p Gallery
          li.nav-item
            a.nav-link(href='pages/kanban.html')
              i.nav-icon.fas.fa-columns
              p Kanban Board
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-envelope
              p
                | Mailbox
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/mailbox/mailbox.html')
                  i.far.fa-circle.nav-icon
                  p Inbox
              li.nav-item
                a.nav-link(href='pages/mailbox/compose.html')
                  i.far.fa-circle.nav-icon
                  p Compose
              li.nav-item
                a.nav-link(href='pages/mailbox/read-mail.html')
                  i.far.fa-circle.nav-icon
                  p Read
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-book
              p
                | Pages
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/examples/invoice.html')
                  i.far.fa-circle.nav-icon
                  p Invoice
              li.nav-item
                a.nav-link(href='pages/examples/profile.html')
                  i.far.fa-circle.nav-icon
                  p Profile
              li.nav-item
                a.nav-link(href='pages/examples/e-commerce.html')
                  i.far.fa-circle.nav-icon
                  p E-commerce
              li.nav-item
                a.nav-link(href='pages/examples/projects.html')
                  i.far.fa-circle.nav-icon
                  p Projects
              li.nav-item
                a.nav-link(href='pages/examples/project-add.html')
                  i.far.fa-circle.nav-icon
                  p Project Add
              li.nav-item
                a.nav-link(href='pages/examples/project-edit.html')
                  i.far.fa-circle.nav-icon
                  p Project Edit
              li.nav-item
                a.nav-link(href='pages/examples/project-detail.html')
                  i.far.fa-circle.nav-icon
                  p Project Detail
              li.nav-item
                a.nav-link(href='pages/examples/contacts.html')
                  i.far.fa-circle.nav-icon
                  p Contacts
              li.nav-item
                a.nav-link(href='pages/examples/faq.html')
                  i.far.fa-circle.nav-icon
                  p FAQ
              li.nav-item
                a.nav-link(href='pages/examples/contact-us.html')
                  i.far.fa-circle.nav-icon
                  p Contact us
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-plus-square
              p
                | Extras
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Login &amp; Register v1
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/examples/login.html')
                      i.far.fa-circle.nav-icon
                      p Login v1
                  li.nav-item
                    a.nav-link(href='pages/examples/register.html')
                      i.far.fa-circle.nav-icon
                      p Register v1
                  li.nav-item
                    a.nav-link(href='pages/examples/forgot-password.html')
                      i.far.fa-circle.nav-icon
                      p Forgot Password v1
                  li.nav-item
                    a.nav-link(href='pages/examples/recover-password.html')
                      i.far.fa-circle.nav-icon
                      p Recover Password v1
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Login &amp; Register v2
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/examples/login-v2.html')
                      i.far.fa-circle.nav-icon
                      p Login v2
                  li.nav-item
                    a.nav-link(href='pages/examples/register-v2.html')
                      i.far.fa-circle.nav-icon
                      p Register v2
                  li.nav-item
                    a.nav-link(href='pages/examples/forgot-password-v2.html')
                      i.far.fa-circle.nav-icon
                      p Forgot Password v2
                  li.nav-item
                    a.nav-link(href='pages/examples/recover-password-v2.html')
                      i.far.fa-circle.nav-icon
                      p Recover Password v2
              li.nav-item
                a.nav-link(href='pages/examples/lockscreen.html')
                  i.far.fa-circle.nav-icon
                  p Lockscreen
              li.nav-item
                a.nav-link(href='pages/examples/legacy-user-menu.html')
                  i.far.fa-circle.nav-icon
                  p Legacy User Menu
              li.nav-item
                a.nav-link(href='pages/examples/language-menu.html')
                  i.far.fa-circle.nav-icon
                  p Language Menu
              li.nav-item
                a.nav-link(href='pages/examples/404.html')
                  i.far.fa-circle.nav-icon
                  p Error 404
              li.nav-item
                a.nav-link(href='pages/examples/500.html')
                  i.far.fa-circle.nav-icon
                  p Error 500
              li.nav-item
                a.nav-link(href='pages/examples/pace.html')
                  i.far.fa-circle.nav-icon
                  p Pace
              li.nav-item
                a.nav-link(href='pages/examples/blank.html')
                  i.far.fa-circle.nav-icon
                  p Blank Page
              li.nav-item
                a.nav-link(href='starter.html')
                  i.far.fa-circle.nav-icon
                  p Starter Page
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-search
              p
                | Search
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='pages/search/simple.html')
                  i.far.fa-circle.nav-icon
                  p Simple Search
              li.nav-item
                a.nav-link(href='pages/search/enhanced.html')
                  i.far.fa-circle.nav-icon
                  p Enhanced
          li.nav-header MISCELLANEOUS
          li.nav-item
            a.nav-link(href='iframe.html')
              i.nav-icon.fas.fa-ellipsis-h
              p Tabbed IFrame Plugin
          li.nav-item
            a.nav-link(href='https://adminlte.io/docs/3.1/')
              i.nav-icon.fas.fa-file
              p Documentation
          li.nav-header MULTI LEVEL EXAMPLE
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.fas.fa-circle
              p
                | Level 1
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p
                    | Level 2
                    i.right.fas.fa-angle-left
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
                  li.nav-item
                    a.nav-link(href='#')
                      i.far.fa-dot-circle.nav-icon
                      p Level 3
              li.nav-item
                a.nav-link(href='#')
                  i.far.fa-circle.nav-icon
                  p Level 2
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-circle.nav-icon
              p Level 1
          li.nav-header LABELS
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-danger
              p.text Important
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-warning
              p Warning
          li.nav-item
            a.nav-link(href='#')
              i.nav-icon.far.fa-circle.text-info
              p Informational