include ./includes/head.pug
.wrapper
  .preloader.flex-column.justify-content-center.align-items-center
    img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
  include ./includes/navbar.pug
  include ./includes/sidebar.pug
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Equipment
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard
        section.content
            .container-fluid
                .card.card-primary
                    .card-header
                        h3.card-title Add new equipment
                    form#equipment_form(onsubmit="return validateEquipmentForm();" action="/equipment/add" method="Post")
                     //- enctype="multipart/form-data"
                     .card-body
                      .row
                          .form-group.m-2
                              label Equipment ID*
                              input#id.form-control(type='text' placeholder='Enter equipment ID' name="id")
                              p#id_err.text-danger
                          .form-group.m-2
                              label Equipment Name*
                              input#equipment_name.form-control(type='text' placeholder='Enter equipment name' name="equipment_name")
                              p#name_err.text-danger
                          .form-group.m-2
                              label Department*
                              select#department.form-control( name="department")
                                option(value="" selected disabled) Select Department
                                each department in departments
                                  option(value=department.name) #{department.name}
                              p#department_err.text-danger
                          .form-group.m-2
                              label Barcode
                              input#barcode.form-control(type='text' placeholder='Enter equipment ID' name="barcode")
                      .row
                          .form-group.m-2
                            label Equipment Description*
                            textarea#description.form-control(name="description", cols="50", rows="1")
                            p#description_err.text-danger
                          .form-group.m-2
                            label(for='exampleInputFile') Equipment Image*
                            input#image.form-control(type='file' name="image")
                            p#image_err.text-danger        
                      .card-footer.bg-white
                                button.btn.btn-primary(type='submit') Add equipment
  include ./includes/components/alert-logout.pug
  include ./includes/footer.pug
  
// ./wrapper
include ./includes/scripts.pug
script(src="/dist/js/validations.js") 