include ./includes/head.pug
.wrapper
  .preloader.flex-column.justify-content-center.align-items-center
    img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
  include ./includes/navbar.pug
  include ./includes/sidebar.pug
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Equipment
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard
        section.content
            .container-fluid
                .card.card-primary
                    .card-header
                        h3.card-title Add new equipment
                    form(action="/equipment/add" method="Post")
                     .card-body
                      .row
                          .form-group.m-2
                              label Equipment ID
                              input#id.form-control(type='text' placeholder='Enter equipment ID' name="id")
                          .form-group.m-2
                              label Equipment Name
                              input#equipment_name.form-control(type='text' placeholder='Enter equipment name' name="equipment_name")
                          .form-group.m-2
                              label Department
                              select#department.form-control( name="department")
                                option(value="" selected disabled) Select Department
                                option(value="Department 1") Department 1 
                                option(value="Department 2") Department 2 
                                option(value="Department 3") Department 3
                                option(value="Department 4") Department 4
                          .form-group.m-2
                              label Barcode
                              input#barcode.form-control(type='text' placeholder='Enter equipment ID' name="barcode")
                          
                      .row
                        .form-group.m-2
                            label(for='exampleInputFile') Equipment Image
                            input#image.form-control(type='file' name="image")
                        .form-group.m-2
                            label Equipment Description
                            textarea#description.form-control(name="description", cols="50", rows="5")
                        
                        .card-footer.bg-white
                                button.btn.btn-primary(type='submit') Add equipment
  include ./includes/footer.pug
// ./wrapper
include ./includes/scripts.pug