include ./includes/head.pug
.wrapper
  // Preloader
  .preloader.flex-column.justify-content-center.align-items-center
    img.animation__shake(src='dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
  // Navbar
  include ./includes/navbar.pug
  // Main Sidebar Container
  include ./includes/sidebar.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Dashboard
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    section.content
      .container-fluid
        // Small boxes (Stat box)
        .row
          .col-lg-3.col-6
            // small box
            .small-box.bg-info
              .inner
                h3 #{number_of_equipments}
                p Total equipment
              .icon
                i.fas.fa-tools
              a.small-box-footer(href='/equipment')
                | More info 
                i.fas.fa-arrow-circle-right
          // ./col
          .col-lg-3.col-6
            // small box
            .small-box.bg-success
              .inner
                h3
                  | 53
                  sup(style='font-size: 20px') %
                p Total work orders
              .icon
                i.ion.ion-stats-bars
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          // ./col
          .col-lg-3.col-6
            // small box
            .small-box.bg-warning
              .inner
                h3 44
                p Pending work order
              .icon
                i.ion.ion-person-add
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
          // ./col
          .col-lg-3.col-6
            // small box
            .small-box.bg-danger
              .inner
                h3 65
                p Completed work orders
              .icon
                i.ion.ion-pie-graph
              a.small-box-footer(href='#')
                | More info 
                i.fas.fa-arrow-circle-right
   
  include ./includes/components/alert-logout.pug
  include ./includes/footer.pug

include ./includes/scripts.pug
