include ./includes/head.pug
.wrapper
    .preloader.flex-column.justify-content-center.align-items-center
        img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
    include ./includes/navbar.pug
    include ./includes/sidebar.pug
    include ./includes/components/alert-logout.pug
include ./includes/footer.pug
include ./includes/scripts.pug