include ./includes/head.pug
.wrapper
    .preloader.flex-column.justify-content-center.align-items-center
        img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
    include ./includes/navbar.pug
    include ./includes/sidebar.pug
.content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Equipment
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard
        section.content
            .container-fluid
                .card.card-primary
                    .card-header
                     h3.card-title Equipment Part
                     p #{message}
                        
                    
                            
                    form#parts_form(action="/equipment/parts/" method="Post" onsubmit="return validatePartsForm();" )
                     .card-body
                      .row
                        .form-group.m-2
                            label Part Name*
                            input#part_name.form-control(type='text' placeholder='Enter part name' name="part_name")
                            p#nameErr.text-danger
                        .form-group.m-2
                            label Stock Number*
                            input#stock_number.form-control(type='number' placeholder='Enter stock number' name="stock_number")
                            p#stockNumberErr.text-danger
                        .form-group.m-2
                            label Description*
                            input#description.form-control(type='text' placeholder='Describe part' name="description")
                            p#descriptionErr.text-danger
                        .form-group.m-2
                            label Quantity*
                            input#quantity.form-control(type='number' placeholder='Quantity needed on equip' name="quantity")
                            p#quantityErr.text-danger
                        .form-group.m-2
                            label Location*
                            input#location.form-control(type='text' placeholder='Enter Location' name="location")
                            p#locationErr.text-danger
                        .form-group.m-2
                            label Schematic Drawing*
                            input#drawing.form-control(type='file' name="drawing")
                            p#drawingErr.text-danger
                      .card-footer.bg-white
                                button.btn.btn-primary(type='submit') Submit Part
                 
                    
                            
    include ./includes/components/alert-logout.pug
include ./includes/footer.pug
include ./includes/scripts.pug
script(src="/dist/js/parts.js")  
        