include ./includes/head.pug
body
    
            .login-box
              .login-logo
                  b Tech
                  | fier
              // /.login-logo
              .card
                .card-body.login-card-body
                  p.login-box-msg Sign in to start your session
                  form(action='../../index3.html' method='post')
                    .input-group.mb-3
                      input.form-control(type='email' placeholder='Email')
                      .input-group-append
                        .input-group-text
                          span.fas.fa-envelope
                    .input-group.mb-3
                      input.form-control(type='password' placeholder='Password')
                      .input-group-append
                        .input-group-text
                          span.fas.fa-lock
                    .row
                      .col-8
                        .icheck-success
                          input#remember(type='checkbox')
                          label(for='remember')  Remember Me 
                      // /.col
                      .col-4
                        button.btn.btn-success.btn-block(type='submit')
                          | Sign In
                      // /.col
                  p.mb-1
                    a(href='forgot-password.html') I forgot my password
                  p.mb-0
                    a.text-center(href='register.html') Register a new membership
                // /.login-card-body
            // /.login-box
// jQuery
script(src='/plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
// AdminLTE App
script(src='/dist/js/adminlte.min.js')
