include ./includes/head.pug
body.hold-transition.login-page(style="background-image:url('/dist/img/login.jpg'); background-repeat: no-repeat;background-size: cover;")
     .wrapper.hold-transition.login-page(style="background-color:#000000c0;width:100%;", )
            .login-box
              .login-logo.text-white
                  b Tech
                  | fier
              // /.login-logo
              .card
                .card-body.login-card-body
                  p.login-box-msg Sign in to start your session
                  p.text-danger #{message}
                  form(action='login' method='post')
                    .input-group.mb-3
                      input.form-control(type='email' placeholder='Email' name="email")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-envelope
                    .input-group.mb-3
                      input.form-control(type='password' placeholder='Password' name="password")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-lock
                    .row
                      .col-8
                        .icheck-success
                          input#remember(type='checkbox')
                          label(for='remember')  Remember Me 
                      // /.col
                      .col-4
                        button.btn.btn-success.btn-block(type='submit')
                          | Sign In
                      // /.col
                  p.mb-1
                    a(href='forgot-password.html') I forgot my password
                  p.mb-0
                    a.text-center(href='register.html') Register a new membership
                  .social-auth-links.text-center.mb-3
                    p - OR -
                    a.btn.btn-block.btn-success(href='#')
                      i.fas.fa-id-card.mr-2
                      |  Login with ID Number
                    
// jQuery
script(src='../../plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='../../plugins/bootstrap/js/bootstrap.bundle.min.js')
// AdminLTE App
script(src='../../dist/js/adminlte.min.js')
