include ./includes/head.pug
.wrapper
    .preloader.flex-column.justify-content-center.align-items-center
        img.animation__shake(src='/dist/img/AdminLTELogo.png' alt='AdminLTELogo' height='60' width='60')
    include ./includes/navbar.pug
    include ./includes/sidebar.pug
.content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Account Management
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Dashboard
        section.content
            .container-fluid
                .card.card-primary
                    .card-header
                     h3.card-title #{message}
                    form#department_form(action="/user/newpassword" method="Post" onsubmit="return validatePassword();")
                     .card-body
                        .row
                          .form-group.m-2
                            label New Password
                            input#password.form-control(type='password' placeholder='Enter new password' name="password")
                            p#passErr.text-danger
                          .form-group.m-2
                            label New Password
                            input#confirm.form-control(type='password' placeholder='Enter new password' name="confirm")
                            p#confirmErr.text-danger
                        .card-footer.bg-white
                            button.btn.btn-primary(type='submit' ) Submit
                 
                    
                            
    include ./includes/components/alert-logout.pug
include ./includes/footer.pug
include ./includes/scripts.pug
script(src="/dist/js/password.js")  
        